@font-face {
    font-family: 'TTCrownMychewR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/TTCrownMychewR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	unicode-range: U+AC00-D7A3;
}

* {
	font-family: 'TTCrownMychewR';
	/* font-size: 20px; */
}